.custom-file-input {
  display: none; /* Hide the default file input */
}

.custom-file-label {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  background-color: #6a0dad; /* Purple background */
  color: #ffffff; /* White text color */
  border-radius: 0.25rem;
}
